<div class="grid-1-2">
	<h3>什么是 redmine</h3>
	<p>Redmine 是一个开源的、Web 端项目管理和缺陷跟踪工具。我们用它来进行项目管理，BUG 跟踪</p>
	<p class="text-error">每天开始工作，或一天的工作中，务必实时检阅分配到的任务，并及时跟进</p>
	<p class="text-error">如果发现某任务需要其他开发人员帮忙解决，请及时分配出去</p>
	<p>
		<strong>地址: </strong>
		<a href="{{ service }}">{{ service }}</a>
	</p>
</div>
<div class="grid-1-2">
	<h3>注册</h3>
	<p><img src="img/redmine/register.png" alt="" /></p>
	<p>
		<strong>地址: </strong>
		<a href="{{ register }}">{{ register }}</a>
	</p>
</div>
<div class="grid-1-2">
	<h3>一般流程</h3>
	<p>
		当完成一个任务时：
		<ol>
			<li>
				需要标记该任务为已解决
			</li>
			<li>
				选择
				<dfn title="当进入测试阶段后，每发布一次新的测试版本，版本号由 RC-1 递增">内部发布版本</dfn>
			</li>
			<li>
				记录所花费的时长（每天总计7小时）
			</li>
		</ol>
	</p>
	<p><img src="img/redmine/flow_1.png" alt="" /></p>
	<p><img src="img/redmine/flow_2.png" alt="" /></p>
</div>
