<div class="workflow">
	<img src="img/workflow.png">
	<ul class="steps">
		<li class="tag">
			<span class="step">1</span>本地开发
		</li>
		<li class="tag">
			<span class="step">2</span><abbr title="Development">DEV</abbr>
		</li>
		<li class="tag">
			<span class="step">3</span><abbr title="System Integration Testing">SIT</abbr>
		</li>
		<li class="tag">
			<span class="step">4</span><abbr title="Production">Prod</abbr>
		</li>
	</ul>
	<span class="failed dev">测试不通过</span>
	<span class="failed sit">测试不通过</span>
</div>

<ol class="workflow-step">
	<li>
		本地开发，并测试，提交代码，填写控制文件
	</li>
	<li>
		发布 <abbr title="Development">DEV</abbr>，<abbr title="Team Leader">TL</abbr> 测试
	</li>
	<li>
		发布 <abbr title="System Integration Testing">SIT</abbr>，<abbr title="Quality Control">QC</abbr> 进入测试
	</li>
	<li>
		发布至生产机
	</li>
</ol>
